[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Counterfactual"]
	path = Counterfactual
	url = https://github.com/cran/Counterfactual
[submodule "Rearrangement"]
	path = Rearrangement
	url = https://github.com/cran/Rearrangement
[submodule "quantreg.nonpar"]
	path = quantreg.nonpar
	url = https://github.com/cran/quantreg.nonpar
